<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bazar Alimentando Vidas</title>
    <link rel="shortcut icon" href="../Imagens/favicon.ico" type="image/x-icon">
    <link rel ="stylesheet" href="../CSS/style_header.css"> <!-- Header / Nav -->
    <link rel ="stylesheet" href="../CSS/style.css"> <!-- Main -->
    <link rel ="stylesheet" href="../CSS/style_footer.css"> <!-- Footer -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
</head>
<body>
    <style>
        #error-box {
           position: fixed;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
           padding: 20px;
           border: none;
           box-shadow: 1px 1px 5px 1px rgb(0, 0, 0, 0.6);
           background-color: #cac6c0fd;
           border-radius: 20px;
           display: none;
       }
       
       #error-message {
           margin: 0 0 10px;
           font-weight: bold;
           color:#7c0e04
       }
       
       #error-ok {
           display: block;
           margin: 0 auto;
       }
    </style>
    <header>
        <nav>
            <a id="logo" href="/"><img src="../Imagens/favicon.png" alt="Logotipo Alimentado Vidas"></a>
            <div id="menu">
                <ul class="lista_genero">
                    <li><a href="/setor/r?classificacao=Adulto&genero=Masculino">Masculino</a>
                        <ul>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Masculino&item=Camisas">Camisetas</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Masculino&item=Calças">Calças</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Masculino&item=Bermudas">Bermudas</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Masculino&item=Calçados">Calçados</a></li>
                        </ul>
                    </li>
                        
                    <li><a href="/setor/r?classificacao=Adulto&genero=Feminino">Feminino</a>
                        <ul>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Feminino&item=Camisetas">Camisetas</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Feminino&item=Calças">Calças</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Feminino&item=Saias">Saias</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Feminino&item=Vestidos">Vestidos</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Feminino&item=Blusas">Blusas</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Feminino&item=Macacões">Macacões</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Feminino&item=Calçados">Calçados</a></li>
                        </ul>
                    </li>
                    <li><a href="/setor/r?classificacao=KIDS">Kids</a>
                        <ul>
                            <li><a href="/setor/r?classificacao=KIDS&item=Camisetas">Camisetas</a></li>
                            <li><a href="/setor/r?classificacao=KIDS&item=Calças">Calças</a></li>
                            <li><a href="/setor/r?classificacao=KIDS&item=Bermudas">Bermudas</a></li>
                            <li><a href="/setor/r?classificacao=KIDS&item=Vestidos">Vestidos</a></li>
                            <li><a href="/setor/r?classificacao=KIDS&item=Blusas">Blusas</a></li>
                            <li><a href="/setor/r?classificacao=KIDS&item=Calçados">Calçados</a></li>
                        </ul>
                    </li>
                    <li><a href="/setor/r?classificacao=Diversos">Diversos</a>
                        <ul>
                            <li><a href="/setor/r?classificacao=Diversos&&tipo=Acessorios">Acessórios</a></li>
                            <li><a href="/setor/r?classificacao=Diversos&&tipo=Brinquedos">Brinquedos</a></li>
                            <li><a href="/setor/r?classificacao=Diversos&&tipo=Utensilios">Utensílios</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <script>  
            var usuario = '<%= typeof usuario !== "undefined" ? usuario: "" %>' 
        </script>
        <div id="cadastrar">
            <a href="/login/l?redirect= <%= redirectUrl %>">Entre</a>
            <span>ou</span>
            <button onclick="location.href='/cadastrar'">CADASTRE-SE</button>
        </div>
        <div id="usuarioLogado"></div>

    </header>

<!----------------------------------------------------------------------------->
    <main id="main_cadastrar">

       <div id="formulario_cadastro">
        <form action="/cadastrar/efetuar_cadastro" method="post" id="Fmlr_cadastrar">
            <div class="campos_cadastrar">
                <span>Nome</span>
                <input type="text" name="nome" id="campo_nome" placeholder="Digite seu nome" required>
            </div>

            <div class="campos_cadastrar">
                <div><span>Telefone</span> <span id="opcional">*Opcional</span></div>
                <input type="text" name="telefone" id="campo_telefone" placeholder="(11) 9XXXX-XXXX">
            </div>
            
            <div class="campos_cadastrar">
                <span>E-mail</span>
                <input type="text" name="email" id="campo_email" placeholder="Digite seu e-mail" required>
            </div>

            <div class="campos_cadastrar" id="area_senha">
                <div class="campos_senha">
                    <span>Senha</span>
                    <input type="password" id="password" name="password" class="campo_senha" placeholder="Digite uma senha segura" minlength="6" required>
                </div>
                <div class="campos_senha confirme">
                    <div>
                        <span>Confirme sua Senha</span>
                        <input type="password" id="confirme_password" name="confirme_password" class="campo_senha" placeholder="Confirme sua Senha" minlength="6" required>
                    </div>
                </div>
            </div>
            <div id="area_btnCadastrar">         
                <button  id="btncadastrar" type="submit">Cadastrar</button>
            </div>
            <div id="error-box">
                <p id="error-message"></p>
                <button id="error-ok" onclick="closeErrorBox();return false" >OK</button>
            </div>

        </form>
       </div>

        
        
    </main>

    <footer class="footer">
        <ul>
            <li><a href="/quemSomos">Quem Somos</a></li>
            <li><a href="/nossaHistoria">Nossa História</a></li>
            <li><a href="/sejaUmDoador">Seja um Doador</a></li>
        </ul>
    </footer>

    <script>
        function closeErrorBox(){
            document.querySelector('#error-box').style.display = "none";
            return false;
        }

        $(document).ready(function(){
          $('#campo_telefone').inputmask('(99) 99999-9999')  
        })


        $(document).ready(function() {
            $('#Fmlr_cadastrar').submit(async function(event) {
                event.preventDefault(); // Impede o envio do formulário
                var email = $('#campo_email').val();
                var senha = $('#password').val();
                var confirmarSenha = $('#confirme_password').val();

                $.ajax({
                    url: '/cadastrar/validaEmail',
                    method: 'POST',
                    data: {email: email},
                    success: function(response){
                        if(response ==='existe'){
                            var mensagem = 'E-mail Já cadastrado. Utilize outro e-mail ou realize o Login.'
                            document.querySelector('#error-message').textContent = mensagem;
                            document.querySelector('#error-box').style.display = "block ";
                        }else{
                            // Se o e-mail não existe, envie o formulário

                            if (senha !== confirmarSenha) {
                                // Exibe uma mensagem de erro
                                var mensagem = 'A senha e a confirmação de senha devem ser iguais.'
                                document.querySelector('#error-message').textContent = mensagem;
                                document.querySelector('#error-box').style.display = "block ";

                                // Limpa os campos de senha
                                $('#password').val('');
                                $('#confirme_password').val('');
                            }else{
                                $('#Fmlr_cadastrar')[0].submit();
                            }
                        }
                    },
                    error: function(){
                        alert('Ocorreu um erro ao verificar o e-mail.')
                    }
                });  
            });
        });
          // VERSÃO JAVASCRIPT 
            /*
                document.addEventListener('DOMContentLoaded', function() {
                    var formulario = document.getElementById('Fmlr_cadastrar');
                    formulario.addEventListener('submit', function(event) {
                        var senha = document.querySelector('input[name="password"]').value;
                        var confirmarSenha = document.querySelector('input[name="confirme_password"]').value;

                        if (senha !== confirmarSenha) {
                            event.preventDefault(); // Impede o envio do formulário

                            // Exibe uma mensagem de erro
                            alert('A senha e a confirmação de senha devem ser iguais.');

                            // Limpa os campos de senha
                            document.querySelector('input[name="password"]').value = '';
                            document.querySelector('input[name="confirme_password"]').value = '';
                        }
                    });
                });
            */
    </script>

</body>
</html>