<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bazar Alimentando Vidas</title>
    <link rel="shortcut icon" href="../Imagens/favicon.ico" type="image/x-icon">
    <link rel ="stylesheet" href="../CSS/style_header.css"> <!-- Header / Nav -->
    <link rel ="stylesheet" href="../CSS/style.css"> <!-- Main -->
    <link rel ="stylesheet" href="../CSS/style_footer.css"> <!-- Footer -->
</head>
<body>
    <style>
         #error-box {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            border: 2px solid #222222;
            background-color: #cac6c0fd;
            border-radius: 20px;
            display: none;
        }
        
        #error-message {
            margin: 0 0 10px;
            font-weight: bold;
            color:#7c0e04
        }
        
        #error-ok {
            display: block;
            margin: 0 auto;
        }
    </style>
    <header>
        <nav>
            <a id="logo" href="/"><img src="../Imagens/favicon.png" alt="Logotipo Alimentado Vidas"></a>
            <div id="menu">
                <ul class="lista_genero">
                    <li><a href="/setor/r?classificacao=Adulto&genero=Masculino">Masculino</a>
                        <ul>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Masculino&item=Camisas">Camisetas</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Masculino&item=Calças">Calças</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Masculino&item=Bermudas">Bermudas</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Masculino&item=Calçados">Calçados</a></li>
                        </ul>
                    </li>
                        
                    <li><a href="/setor/r?classificacao=Adulto&genero=Feminino">Feminino</a>
                        <ul>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Feminino&item=Camisetas">Camisetas</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Feminino&item=Calças">Calças</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Feminino&item=Saias">Saias</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Feminino&item=Vestidos">Vestidos</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Feminino&item=Blusas">Blusas</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Feminino&item=Macacões">Macacões</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Feminino&item=Calçados">Calçados</a></li>
                        </ul>
                    </li>
                    <li><a href="/setor/r?classificacao=KIDS">Kids</a>
                        <ul>
                            <li><a href="/setor/r?classificacao=KIDS&item=Camisetas">Camisetas</a></li>
                            <li><a href="/setor/r?classificacao=KIDS&item=Calças">Calças</a></li>
                            <li><a href="/setor/r?classificacao=KIDS&item=Bermudas">Bermudas</a></li>
                            <li><a href="/setor/r?classificacao=KIDS&item=Vestidos">Vestidos</a></li>
                            <li><a href="/setor/r?classificacao=KIDS&item=Blusas">Blusas</a></li>
                            <li><a href="/setor/r?classificacao=KIDS&item=Calçados">Calçados</a></li>
                        </ul>
                    </li>
                    <li><a href="/setor/r?classificacao=Diversos">Diversos</a>
                        <ul>
                            <li><a href="/setor/r?classificacao=Diversos&&tipo=Acessorios">Acessórios</a></li>
                            <li><a href="/setor/r?classificacao=Diversos&&tipo=Brinquedos">Brinquedos</a></li>
                            <li><a href="/setor/r?classificacao=Diversos&&tipo=Utensilios">Utensílios</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        
        
    </header>

    <main id="main_login">

        <div id="tela_login">
            <div id="area_Logo">
                <img src="../Imagens/favicon.ico" alt="">
            </div>

            <form action="/login/eftuar_login" method="post">
                <div id="dados_login">
                    <span>Login:</span>
                    <div class="campo">
                        <input type="text" name="email" placeholder="login" id="login" required>
                    </div>
                </div>
                <div id="dados_senha">
                    <span>Senha:</span>
                    <div class="campo">
                        <input type="password" name="senha"  placeholder="" id="senha" required minlength="6">
                    </div>
                </div>
                <a href="" id="EsqueceuSenha">Esqueceu sua senha?</a>
                <div id="area_btn">
                    <button type="submit" value="Logar" id="btnLogin">Logar</button>
                </div>
            </form>
        </div>

        <div id="error-box">
            <p id="error-message"></p>
            <button id="error-ok" onclick="closeErrorBox()">OK</button>
        </div>

        
        
    </main>

    <footer class="footer">
        <ul>
            <li><a href="/quemSomos">Quem Somos</a></li>
            <li><a href="/nossaHistoria">Nossa História</a></li>
            <li><a href="/sejaUmDoador">Seja um Doador</a></li>
        </ul>
    </footer>
    <script>
        function closeErrorBox(){
            document.querySelector('#error-box').style.display = "none"
        }
        var redirectUrl = '<%=redirectUrl%>'
        console.log(redirectUrl)
        
        document.querySelector('form').addEventListener('submit', async (event)=> {
            event.preventDefault(); // Impede o envio do formulário

            // Obtém o login e a senha digitados pelo usuário
            var email = document.querySelector('#login').value;
            var senha = document.querySelector('#senha').value;
            //const url = `/?user= ${encodeURIComponent(usuario)}`
            const url = `/`
            // Envia a requisição para o servidor
            const response = await fetch('/login/eftuar_login', {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email: email, senha: senha })
            });

            const data = await response.json();

            if(data.success){
                //Usuário e senha corretas
                //window.location.href = url;

                // Redirecione de volta para a URL da página anterior
                if(redirectUrl.includes('#')){
                    const redirect = `/roupa/r?codReferencia=${encodeURIComponent(redirectUrl)}`;
                    window.location.href = redirect;
                }else{
                    window.location.href = redirectUrl;
                }

            }else{
                // Usuario e senha Incorretas
                document.querySelector('#error-message').textContent = data.message;
                document.querySelector('#error-box').style.display = "block ";
            }
        });


    </script>
</body>
</html>