<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bazar Alimentando Vidas</title>
    <link rel="shortcut icon" href="../Imagens/favicon.ico" type="image/x-icon">
    <link rel ="stylesheet" href="../CSS/style_header.css"> <!-- Header / Nav -->
    <link rel ="stylesheet" href="../CSS/style.css"> <!-- Main -->
    <link rel ="stylesheet" href="../CSS/style_footer.css"> <!-- Footer -->
</head>
<body>
    <header>
        <nav>
            <a id="logo" href="/"><img src="../Imagens/favicon.png" alt="Logotipo Alimentado Vidas"></a>
            <div id="menu">
                <ul class="lista_genero">
                    <li><a href="/setor/r?classificacao=Adulto&genero=Masculino">Masculino</a>
                        <ul>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Masculino&item=Camisas">Camisetas</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Masculino&item=Calças">Calças</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Masculino&item=Bermudas">Bermudas</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Masculino&item=Calçados">Calçados</a></li>
                        </ul>
                    </li>
                        
                    <li><a href="/setor/r?classificacao=Adulto&genero=Feminino">Feminino</a>
                        <ul>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Feminino&item=Camisetas">Camisetas</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Feminino&item=Calças">Calças</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Feminino&item=Saias">Saias</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Feminino&item=Vestidos">Vestidos</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Feminino&item=Blusas">Blusas</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Feminino&item=Macacões">Macacões</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Feminino&item=Calçados">Calçados</a></li>
                        </ul>
                    </li>
                    <li><a href="/setor/r?classificacao=KIDS">Kids</a>
                        <ul>
                            <li><a href="/setor/r?classificacao=KIDS&item=Camisetas">Camisetas</a></li>
                            <li><a href="/setor/r?classificacao=KIDS&item=Calças">Calças</a></li>
                            <li><a href="/setor/r?classificacao=KIDS&item=Bermudas">Bermudas</a></li>
                            <li><a href="/setor/r?classificacao=KIDS&item=Vestidos">Vestidos</a></li>
                            <li><a href="/setor/r?classificacao=KIDS&item=Blusas">Blusas</a></li>
                            <li><a href="/setor/r?classificacao=KIDS&item=Calçados">Calçados</a></li>
                        </ul>
                    </li>
                    <li><a href="/setor/r?classificacao=Diversos">Diversos</a>
                        <ul>
                            <li><a href="/setor/r?classificacao=Diversos&&tipo=Acessorios">Acessórios</a></li>
                            <li><a href="/setor/r?classificacao=Diversos&&tipo=Brinquedos">Brinquedos</a></li>
                            <li><a href="/setor/r?classificacao=Diversos&&tipo=Utensilios">Utensílios</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        
        <script>  
            var usuario = '<%= typeof usuario !== "undefined" ? usuario: "" %>' 
        </script>
        <div id="cadastrar">
            <a href="/login/l?redirect=<%= redirectUrl %>">Entre</a>
            <span>ou</span>
            <button>CADASTRE-SE</button>
        </div>
        <div id="usuarioLogado"></div>
        
    </header>

    <main id="main_Home">

        <div class="pesquisa">
            <input type="text" id="pesquisar" placeholder="Digite sua pesquisa" name="pesquisa">

        </div>
        

        <h1>Quem Somos</h1>
        <div class="teste1">
            <div class="teste2">
                
                <div class="teste3">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus quas sapiente nobis natus! Inventore, assumenda nulla corrupti minus eum, consequatur placeat, doloribus quidem esse omnis iusto hic! Laboriosam, maxime perspiciatis!</p>
                    
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus quas sapiente nobis natus! Inventore, assumenda nulla corrupti minus eum, consequatur placeat, doloribus quidem esse omnis iusto hic! Laboriosam, maxime perspiciatis!
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
                </div>
                <img src="../Imagens/Roupas/Marmita_projeto.jpg" alt="">
                
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus quas sapiente nobis natus! Inventore, assumenda nulla corrupti minus eum, consequatur placeat, doloribus quidem esse omnis iusto hic! Laboriosam, maxime perspiciatis!</p>
            </div>
            
        </div>
    </main>

    <footer class="footer">
        <ul>
            <li><a href="/quemSomos">Quem Somos</a></li>
            <li><a href="/nossaHistoria">Nossa História</a></li>
            <li><a href="/sejaUmDoador">Seja um Doador</a></li>
        </ul>
    </footer>
    <script src="../Javascript/script.js"></script>
</body>
</html>