<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bazar Alimentando Vidas</title>
    <link rel="shortcut icon" href="../Imagens/favicon.ico" type="image/x-icon">
    <link rel ="stylesheet" href="../CSS/style_header.css"> <!-- Header / Nav -->
    <link rel ="stylesheet" href="../CSS/style.css"> <!-- Main -->
    <link rel ="stylesheet" href="../CSS/style_footer.css"> <!-- Footer -->
</head>
<body>
    <header>
        <nav>
            <a href="/"><img src="../Imagens/favicon.png" alt="Logotipo Alimentado Vidas"></a>
            <a href="/link/MASCULINO">Masculino</a>
            <a href="/link/FEMININO">Feminino</a>
            <a href="/link/Kids">Kids</a>
            <a href="/link/Diversos">Diversos</a>
        </nav>
        
        <script>  
            var usuario = '<%= typeof usuario !== "undefined" ? usuario: "" %>' 
        </script>
        <div id="cadastrar">
            <a href="/login?redirect= <%= redirectUrl %>">Entre</a>
            <span>ou</span>
            <button>CADASTRE-SE</button>
        </div>
        <div id="usuarioLogado"></div>
        
    </header>

    <main id="main_Home">

        <div class="pesquisa">
            <input type="text" id="pesquisar" placeholder="Digite sua pesquisa" name="pesquisa">
        </div>


        <h1>Seja um Doador</h1>

        
    </main>

    <footer class="footer">
        <ul>
            <li><a href="/quemSomos">Quem Somos</a></li>
            <li><a href="/nossaHistoria">Nossa História</a></li>
            <li><a href="/sejaUmDoador">Seja um Doador</a></li>
        </ul>
    </footer>
    <script src="../Javascript/script.js"></script>
</body>
</html>