header {
    background-color: #f1f1f1;
    padding: 10px;
    display: flex;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    width: 600px;
    margin-left: 130px;
    justify-content: space-around;
}

nav img{
    width: auto;
    height: 60px;
    margin-right: 40px;
}

nav a{
    text-decoration: none;
    font-size: 16pt;
    color: rgb(0, 132, 255);
    text-align: center;
}

nav a:hover{
    color: #023f79;    
    text-decoration: underline;
}

#cadastrar{
    position: absolute;
    right: 0;
    top: 35%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    
}

#cadastrar a{
    font-size: 14pt;
    color: rgb(0, 132, 255);
    text-align: center;
}


#cadastrar a:hover{
    color: #023f79;    
    text-decoration: underline;
}

#cadastrar button{
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 15px;
    background-color: rgb(0, 132, 255);
    padding: 10px 20px;
}

#cadastrar button:hover{
    box-shadow: 1px 1px 5px 2px rgb(0, 0, 0, 0.2);
    cursor: pointer;
}


#usuarioLogado{
    position: absolute;
    right: 20px;
    display: none;
    width: 250px;
    flex-direction: column;
    align-items: center;
    top:30%;
}

#usuarioLogado #bem_vindo{
    color: rgb(0, 132, 255);
    margin: 0;
    width: 100%;
    text-align: end;
}

#usuarioLogado a{
    width: 95%;
    text-align: end;
}